In [76]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [77]:
df = pd.read_csv('houseprice.csv')

In [78]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500.0
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500.0
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500.0
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000.0
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000.0

In [79]:
df2=df.iloc[:,-1:]

In [80]:
df1=df.iloc[:,:-1]

In [81]:
df2.head()

   SalePrice
0   208500.0
1   181500.0
2   223500.0
3   140000.0
4   250000.0

In [82]:
df1.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal

In [83]:
categorical_names=['MSZoning','Street','Alley','LotShape','LandContour','Utilities','LotConfig','LandSlope','Neighborhood','Condition1','Condition2','BldgType','HouseStyle',
'RoofStyle','RoofMatl','Exterior1st','Exterior2nd','MasVnrType','ExterQual','ExterCond','Foundation','BsmtQual','BsmtCond','BsmtExposure','BsmtFinType1',
'BsmtFinType2','Heating','HeatingQC','CentralAir','Electrical','KitchenQual','Functional','FireplaceQu','GarageType','GarageFinish','GarageQual','GarageCond',
'PavedDrive','PoolQC','Fence','MiscFeature','SaleType','SaleCondition']

In [84]:
from category_encoders import OrdinalEncoder

ordinal_encoder = OrdinalEncoder(cols=categorical_names, handle_missing='return_nan')

df1 = ordinal_encoder.fit_transform(df1)

# Removing Columns that are highly Correlated

In [85]:
import numpy as np

# Create correlation matrix
corr_matrix = df.corr().abs()

# Select upper triangle of correlation matrix
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))

# Find features with correlation greater than 0.95
to_drop = [column for column in upper.columns if any(upper[column] > 0.90)]

# Drop features 
df.drop(to_drop, axis=1, inplace=True)

In [86]:
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500.0000
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500.0000
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500.0000
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000.0000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2914,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2006,WD,Normal,167081.2209
2915,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml,164788.7782
2916,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml,219222.4234
2917,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal,184924.2797
2918,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,11,2006,WD,Normal,187741.8667

In [87]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [88]:
X=df1
y=df2

In [89]:
X

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1,60,1.0,65.0,8450,1.0,NaN,1.0,1.0,1.0,...,0,0,NaN,NaN,NaN,0,2,2008,1.0,1.0
1,2,20,1.0,80.0,9600,1.0,NaN,1.0,1.0,1.0,...,0,0,NaN,NaN,NaN,0,5,2007,1.0,1.0
2,3,60,1.0,68.0,11250,1.0,NaN,2.0,1.0,1.0,...,0,0,NaN,NaN,NaN,0,9,2008,1.0,1.0
3,4,70,1.0,60.0,9550,1.0,NaN,2.0,1.0,1.0,...,0,0,NaN,NaN,NaN,0,2,2006,1.0,2.0
4,5,60,1.0,84.0,14260,1.0,NaN,2.0,1.0,1.0,...,0,0,NaN,NaN,NaN,0,12,2008,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2914,2915,160,2.0,21.0,1936,1.0,NaN,1.0,1.0,1.0,...,0,0,NaN,NaN,NaN,0,6,2006,1.0,1.0
2915,2916,160,2.0,21.0,1894,1.0,NaN,1.0,1.0,1.0,...,0,0,NaN,NaN,NaN,0,4,2006,1.0,2.0
2916,2917,20,1.0,160.0,20000,1.0,NaN,1.0,1.0,1.0,...,0,0,NaN,NaN,NaN,0,9,2006,1.0,2.0
2917,2918,85,1.0,62.0,10441,1.0,NaN,1.0,1.0,1.0,...,0,0,NaN,2.0,2.0,700,7,2006,1.0,1.0
2918,2919,60,1.0,74.0,9627,1.0,NaN,1.0,1.0,1.0,...,0,0,NaN,NaN,NaN,0,11,2006,1.0,1.0

In [90]:
y

        SalePrice
0     208500.0000
1     181500.0000
2     223500.0000
3     140000.0000
4     250000.0000
...           ...
2914  167081.2209
2915  164788.7782
2916  219222.4234
2917  184924.2797
2918  187741.8667

[2919 rows x 1 columns]

In [100]:
X=X.fillna(0)

In [101]:
X.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1,60,1.0,65.0,8450,1.0,0.0,1.0,1.0,1.0,...,0,0,0.0,0.0,0.0,0,2,2008,1.0,1.0
1,2,20,1.0,80.0,9600,1.0,0.0,1.0,1.0,1.0,...,0,0,0.0,0.0,0.0,0,5,2007,1.0,1.0
2,3,60,1.0,68.0,11250,1.0,0.0,2.0,1.0,1.0,...,0,0,0.0,0.0,0.0,0,9,2008,1.0,1.0
3,4,70,1.0,60.0,9550,1.0,0.0,2.0,1.0,1.0,...,0,0,0.0,0.0,0.0,0,2,2006,1.0,2.0
4,5,60,1.0,84.0,14260,1.0,0.0,2.0,1.0,1.0,...,0,0,0.0,0.0,0.0,0,12,2008,1.0,1.0

In [104]:
y=y.astype(int)

In [105]:
bestfeatures = SelectKBest(score_func=chi2, k=50)
fit = bestfeatures.fit(X,y)

In [106]:
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(X.columns)

In [107]:
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Specs','Score']  #naming the dataframe columns

In [108]:
featureScores

            Specs         Score
0              Id  1.311651e+06
1      MSSubClass  6.504602e+04
2        MSZoning  1.037322e+03
3     LotFrontage  4.023533e+04
4         LotArea  1.400117e+07
..            ...           ...
75        MiscVal  1.630448e+07
76         MoSold  2.484580e+03
77         YrSold  1.823042e+00
78       SaleType  1.254223e+03
79  SaleCondition  1.396075e+03

[80 rows x 2 columns]

In [113]:
dff = featureScores.nlargest(40,'Score')

In [119]:
df5=df1[dff['Specs']]

In [125]:
cols = df5.columns

In [ ]:
categorical_names=['MSZoning','Street','Alley','LotShape','LandContour','Utilities','LotConfig','LandSlope','Neighborhood','Condition1','Condition2','BldgType','HouseStyle',
'RoofStyle','RoofMatl','Exterior1st','Exterior2nd','MasVnrType','ExterQual','ExterCond','Foundation','BsmtQual','BsmtCond','BsmtExposure','BsmtFinType1',
'BsmtFinType2','Heating','HeatingQC','CentralAir','Electrical','KitchenQual','Functional','FireplaceQu','GarageType','GarageFinish','GarageQual','GarageCond',
'PavedDrive','PoolQC','Fence','MiscFeature','SaleType','SaleCondition']

In [128]:
l=['MiscVal', 'LotArea', 'Id', 'BsmtFinSF2', '2ndFlrSF', 'BsmtFinSF1',
       'PoolArea', 'LowQualFinSF', 'BsmtUnfSF', 'MasVnrArea', 'TotalBsmtSF',
       'GrLivArea', '3SsnPorch', 'ScreenPorch', 'WoodDeckSF', 'EnclosedPorch',
       '1stFlrSF', 'GarageArea', 'GarageYrBlt', 'OpenPorchSF', 'MSSubClass',
       'LotFrontage', 'Neighborhood', 'PoolQC', 'Alley', 'Fence',
       'Exterior2nd', 'MiscFeature', 'Exterior1st', 'FireplaceQu',
       'BsmtFinType2', 'MoSold', 'Condition1', 'BsmtFinType1', 'BsmtHalfBath',
       'BldgType', 'BsmtExposure', 'Fireplaces', 'HouseStyle', 'HalfBath']

In [130]:
h=[]
for i in l:
    if i in categorical_names:
        h.append(i)

In [131]:
h

['Neighborhood',
 'PoolQC',
 'Alley',
 'Fence',
 'Exterior2nd',
 'MiscFeature',
 'Exterior1st',
 'FireplaceQu',
 'BsmtFinType2',
 'Condition1',
 'BsmtFinType1',
 'BldgType',
 'BsmtExposure',
 'HouseStyle']

In [135]:
df5.head(100)

,MiscVal,LotArea,Id,BsmtFinSF2,2ndFlrSF,BsmtFinSF1,PoolArea,LowQualFinSF,BsmtUnfSF,MasVnrArea,...,BsmtFinType2,MoSold,Condition1,BsmtFinType1,BsmtHalfBath,BldgType,BsmtExposure,Fireplaces,HouseStyle,HalfBath
0,0,8450,1,0.0,854,706.0,0,0,150.0,196.0,...,1.0,2,1.0,1.0,0.0,1.0,1.0,0,1.0,1
1,0,9600,2,0.0,0,978.0,0,0,284.0,0.0,...,1.0,5,2.0,2.0,1.0,1.0,2.0,1,2.0,0
2,0,11250,3,0.0,866,486.0,0,0,434.0,162.0,...,1.0,9,1.0,1.0,0.0,1.0,3.0,1,1.0,1
3,0,9550,4,0.0,756,216.0,0,0,540.0,0.0,...,1.0,2,1.0,2.0,0.0,1.0,1.0,1,1.0,0
4,0,14260,5,0.0,1053,655.0,0,0,490.0,350.0,...,1.0,12,1.0,1.0,0.0,1.0,4.0,1,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,480,9765,96,0.0,790,310.0,0,0,370.0,68.0,...,1.0,4,1.0,2.0,0.0,1.0,1.0,1,1.0,1
96,0,10264,97,0.0,0,1162.0,0,0,426.0,183.0,...,1.0,8,1.0,2.0,0.0,1.0,4.0,0,2.0,0
97,0,10921,98,0.0,0,520.0,0,0,440.0,48.0,...,1.0,5,1.0,4.0,0.0,1.0,1.0,0,2.0,0
98,400,10625,99,0.0,0,108.0,0,0,350.0,0.0,...,1.0,5,1.0,2.0,0.0,1.0,1.0,0,2.0,0
99,400,9320,100,0.0,0,569.0,0,0,381.0,0.0,...,1.0,1,1.0,2.0,0.0,1.0,1.0,0,2.0,1

In [139]:
df5=df5.astype(int)

In [136]:
df5=df5.fillna(0)

In [164]:
from xgboost import XGBRegressor

In [166]:
y

      SalePrice
0        208500
1        181500
2        223500
3        140000
4        250000
...         ...
2914     167081
2915     164788
2916     219222
2917     184924
2918     187741

[2919 rows x 1 columns]

In [165]:
df5

,MiscVal,LotArea,Id,BsmtFinSF2,2ndFlrSF,BsmtFinSF1,PoolArea,LowQualFinSF,BsmtUnfSF,MasVnrArea,...,BsmtFinType2,MoSold,Condition1,BsmtFinType1,BsmtHalfBath,BldgType,BsmtExposure,Fireplaces,HouseStyle,HalfBath
0,0,8450,1,0,854,706,0,0,150,196,...,1,2,1,1,0,1,1,0,1,1
1,0,9600,2,0,0,978,0,0,284,0,...,1,5,2,2,1,1,2,1,2,0
2,0,11250,3,0,866,486,0,0,434,162,...,1,9,1,1,0,1,3,1,1,1
3,0,9550,4,0,756,216,0,0,540,0,...,1,2,1,2,0,1,1,1,1,0
4,0,14260,5,0,1053,655,0,0,490,350,...,1,12,1,1,0,1,4,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2914,0,1936,2915,0,546,0,0,0,546,0,...,1,6,1,3,0,5,1,0,1,1
2915,0,1894,2916,0,546,252,0,0,294,0,...,1,4,1,4,0,4,1,0,1,1
2916,0,20000,2917,0,0,1224,0,0,0,0,...,1,9,1,2,0,1,1,1,2,0
2917,700,10441,2918,0,0,337,0,0,575,0,...,1,7,1,1,1,1,4,0,5,0
2918,0,9627,2919,0,1004,758,0,0,238,94,...,1,11,1,7,0,1,4,1,1,1

In [173]:
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV

In [176]:
param_test1 = {
    'max_depth':range(3,10,2),
    'min_child_weight':range(1,6,2),
    'learning_rate':[i/20.0 for i in range(0,20)],
    'n_estimators': range(100,1000,10),
    'max_depth':range(3,10,2),
    'min_child_weight':range(1,6,2),
    'gamma':[i/10.0 for i in range(0,5)]
    'subsample':[i/10.0 for i in range(6,10)],
    'colsample_bytree':[i/10.0 for i in range(6,10)],
    'reg_alpha':[1e-5, 1e-2, 0.1, 1, 100]    
}
gsearch1 = GridSearchCV(estimator = XGBRegressor(subsample=0.8, colsample_bytree=0.8,
                                         nthread=4, scale_pos_weight=1, seed=27), 
                       param_grid = param_test1, scoring='neg_mean_squared_error',n_jobs=-1,iid=False, cv=5)
gsearch1.fit(df5,y)

C:\Users\prach\Anaconda3\lib\site-packages\joblib\externals\loky\process_executor.py:706: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning

KeyboardInterrupt:

In [ ]:
gsearch1.grid_scores_, gsearch1.best_params_, gsearch1.best_score_